<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" type='text/css' href = 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'>
    <link rel="stylesheet" type='text/css' href = '/stylesheets/app.css'>



</head>
<body>
    <div class="ui fixed inverted menu">
        <div class='ui container'> 
        <a href="/" class ='header item'> <i class='code icon'></i> RESTful Blog</a>

  <a href='/' class="item ">Home</a>
  <a  href='/blogs/new' class="item ">New Post</a>
  <!--<a  href='' class="item">Upcoming Events</a>-->
            </div>

</div>